@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: green;
  --color-secondary: teal;
}


.text-bb {
  color: #05313c;
}
.text-pp {
  color: #82898e;
}

.my-btn {
    @apply btn btn-soft btn-primary text-[18px] border-none hover:bg-[#485d1a];
}
.sign-btn {
    @apply btn btn-soft btn-primary text-[16px] text-[#315805] border-none bg-gradient-to-r from-[#4feb59] to-[#315805];
}
 
.active-btn {
    @apply btn btn-accent text-white text-[20px] border-none bg-gradient-to-r from-[#4feb59] to-[#315805];
}
.donate-btn {
    @apply border-2 border-green-200 px-6 py-2 rounded-md font-semibold text-green-200 text-[20px] hover:border-none hover:bg-[#485d1a] hover:text-white;
}
.card-btn {
  @apply text-lg text-white font-bold py-2 px-4 rounded-3xl
 bg-linear-to-r from-[#72e787] via-[#0db841] to-[#437d5f]
 transition-transform duration-300 hover:scale-[1.02] hover:shadow-[0_0_10px_lightblue]
}