@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: green;
  --color-secondary: teal;
}

.navv {
  color: #3f583c;
}
 /* 0.0112219 0.00861423 */

.my-btn {
    /* color:  [#ba93f1]; */
    @apply btn btn-soft btn-primary text-[16px] border-none hover:bg-[#485d1a];
}
.sign-btn {
    /* color:  [#ba93f1]; */
    @apply btn btn-soft btn-primary text-[16px] text-[#315805] border-none bg-gradient-to-r from-[#4feb59] to-[#315805];
}
 
.active-btn {
    @apply btn btn-accent text-white text-[20px] border-none bg-gradient-to-r from-[#4feb59] to-[#315805];
}
 
